* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.photo-card{
  margin-top: 10px;
  border:2px solid #e0e6cb;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }
figure{
  margin: 0;
}
img{
  height: 220px;
}
.info{
  display: flex;
  justify-content: space-around;
 }

.info-item{
  margin-top: 2px;
  margin-bottom: 2px;
}
.signature{
  font-size: 10px;
  font-weight: 100;
}
input{
  padding-left: 10px;
  margin-left: 300px;
  border: none;
  outline: 1px solid #6eaeee;
  height: 25px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
input::placeholder{
  padding-left: 10px;
}

input:focus{
  outline: 2px solid #6eaeee;
}
.btn-submit, .load-more{
  font-weight: 400;
  font-size: 14px;
  color: #6eaeee ;
  background-color:#ffffb7 ;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 27px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-submit:hover, .btn-submit:focus, 
.load-more:hover, .load-more:focus{
  background-color: #fffb96;
}
.load-more{
  margin-left: 450px;
}
.link-img{
  display: block;
  height: 220px;
}